<div class="ms_main_wrapper">
    <div class="ms_content_wrapper padder_top80">
        <!----Top Artist Section---->
        <div class="ms_top_artist">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms_heading">
                            <h1>Live Stations</h1>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 101</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 101</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 102</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 102</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 103</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 103</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 104</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 104</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 105</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 105</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box marger_bottom30">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 106</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 106</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 107</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 107</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 108</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 108</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="images/station/station1.jpg" alt="" class="img-fluid">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_play_icon">
                                        <img src="images/svg/play.svg" alt="">
                                    </div>
                                </div>
                                <span class="ms_frequency">fm 109</span>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3><a href="#">Frequency 109</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>